﻿@model food_delivery.ViewModel.CartViewModel

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Цена
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Dishes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>*@
        </tr>

    }
    </tbody>
</table>

