﻿@model food_delivery.Models.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
           Название блюда:
        </th>
        <th>
            Описание:
        </th>
        <th>
            Цена:
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Dishes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <form asp-action="AddToCart">
                    <div class="form-group">
                        <input type="hidden" name="id" value="@item.Id" />
                        <input type="submit" value="Заказать" />
                    </div>
                </form>
            </td>


        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Cart" asp-route-id="@Model.Id">Корзина</a>
    @*<a asp-area="" asp-controller="Home" asp-action="Cart" asp-route-id="@Model.Id>Корзина</a>*@
    <a asp-action="Index">Back to List</a>
</div>